<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="bossdoyKaraoke_NOW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="bossdoyKaraoke_NOW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 
  <userSettings>
    <bossdoyKaraoke_NOW.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
    </bossdoyKaraoke_NOW.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <bossdoyKaraoke_NOW.Properties.Settings>
      <setting name="DEFCH1EQ1band0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band2" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band3" serializeAs="String">
        <value>0.3385876</value>
      </setting>
      <setting name="DEFCH1EQ1band4" serializeAs="String">
        <value>0.260</value>
      </setting>
      <setting name="DEFCH1EQ1band5" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band8" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band9" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band10" serializeAs="String">
        <value>0.4466759</value>
      </setting>
      <setting name="DEFCH1EQ1band11" serializeAs="String">
        <value>0.5252185</value>
      </setting>
      <setting name="DEFCH1EQ1band12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band14" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band15" serializeAs="String">
        <value>0.4376181</value>
      </setting>
      <setting name="DEFCH1EQ1band16" serializeAs="String">
        <value>0.4447622</value>
      </setting>
      <setting name="DEFCH1EQ1band17" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band18" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band19" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band20" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band21" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band22" serializeAs="String">
        <value>0.3751354</value>
      </setting>
      <setting name="DEFCH1EQ1band23" serializeAs="String">
        <value>0.5067465</value>
      </setting>
      <setting name="DEFCH1EQ1band24" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band26" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band27" serializeAs="String">
        <value>0.393088</value>
      </setting>
      <setting name="DEFCH1EQ1band28" serializeAs="String">
        <value>0.6503009</value>
      </setting>
      <setting name="DEFCH1EQ1band29" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band30" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band31" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band32" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band33" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band34" serializeAs="String">
        <value>0.3146504</value>
      </setting>
      <setting name="DEFCH1EQ1band35" serializeAs="String">
        <value>0.4860965</value>
      </setting>
      <setting name="DEFCH1EQ1band36" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band37" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band38" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band39" serializeAs="String">
        <value>0.4376181</value>
      </setting>
      <setting name="DEFCH1EQ1band40" serializeAs="String">
        <value>0.7712674</value>
      </setting>
      <setting name="DEFCH1EQ1band41" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band42" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band43" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band44" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band45" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band46" serializeAs="String">
        <value>0.2971976</value>
      </setting>
      <setting name="DEFCH1EQ1band47" serializeAs="String">
        <value>0.1460275</value>
      </setting>
      <setting name="DEFCH1EQ1band48" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band49" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band50" serializeAs="String">
        <value>0.260</value>
      </setting>
      <setting name="DEFCH1EQ1band51" serializeAs="String">
        <value>0.6666667</value>
      </setting>
      <setting name="DEFCH1EQ1band52" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band53" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band54" serializeAs="String">
        <value>0.9653146</value>
      </setting>
      <setting name="DEFCH1EQ1band55" serializeAs="String">
        <value>0.6666667</value>
      </setting>
      <setting name="DEFCH1EQ1band56" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band57" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band58" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band59" serializeAs="String">
        <value>0.3333333</value>
      </setting>
      <setting name="DEFCH1EQ1band60" serializeAs="String">
        <value>0.3545569</value>
      </setting>
      <setting name="DEFCH1EQ1band61" serializeAs="String">
        <value>0.5252185</value>
      </setting>
      <setting name="DEFCH1EQ1band62" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band63" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band64" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ1band65" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ1band66" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band67" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ1band68" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="DEFCH1EQ1band69" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="DEFCH1EQ1band70" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1Comp0" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1Comp1" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1Comp2" serializeAs="String">
        <value>0.3162278</value>
      </setting>
      <setting name="DEFCH1Comp3" serializeAs="String">
        <value>0.3162278</value>
      </setting>
      <setting name="DEFCH1Comp4" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="DEFCH1Comp5" serializeAs="String">
        <value>0.3444445</value>
      </setting>
      <setting name="DEFCH1Comp6" serializeAs="String">
        <value>0.2357953</value>
      </setting>
      <setting name="DEFCH1Comp7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1Comp8" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DEFCH1Comp9" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1Comp10" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1Comp11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1Comp12" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1Comp13" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1Comp14" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1Comp15" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1Comp16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1Comp17" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band0" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band2" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band3" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4band4" serializeAs="String">
        <value>0.278</value>
      </setting>
      <setting name="DEFCH1EQ4band5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band8" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band9" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band10" serializeAs="String">
        <value>0.4466759</value>
      </setting>
      <setting name="DEFCH1EQ4band11" serializeAs="String">
        <value>0.5252185</value>
      </setting>
      <setting name="DEFCH1EQ4band12" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band13" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band14" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band15" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4band16" serializeAs="String">
        <value>0.361</value>
      </setting>
      <setting name="DEFCH1EQ4band17" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band18" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band19" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band20" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band21" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band22" serializeAs="String">
        <value>0.3751354</value>
      </setting>
      <setting name="DEFCH1EQ4band23" serializeAs="String">
        <value>0.5067465</value>
      </setting>
      <setting name="DEFCH1EQ4band24" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band25" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band26" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band27" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4band28" serializeAs="String">
        <value>0.63883</value>
      </setting>
      <setting name="DEFCH1EQ4band29" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band30" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band31" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band32" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band33" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band34" serializeAs="String">
        <value>0.3146504</value>
      </setting>
      <setting name="DEFCH1EQ4band35" serializeAs="String">
        <value>0.4860965</value>
      </setting>
      <setting name="DEFCH1EQ4band36" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band37" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band38" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band39" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4band40" serializeAs="String">
        <value>0.7712674</value>
      </setting>
      <setting name="DEFCH1EQ4band41" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band42" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band43" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band44" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band45" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band46" serializeAs="String">
        <value>0.2971976</value>
      </setting>
      <setting name="DEFCH1EQ4band47" serializeAs="String">
        <value>0.1460275</value>
      </setting>
      <setting name="DEFCH1EQ4band48" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band49" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band50" serializeAs="String">
        <value>0.04888627</value>
      </setting>
      <setting name="DEFCH1EQ4band51" serializeAs="String">
        <value>0.6666667</value>
      </setting>
      <setting name="DEFCH1EQ4band52" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band53" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band54" serializeAs="String">
        <value>0.9653146</value>
      </setting>
      <setting name="DEFCH1EQ4band55" serializeAs="String">
        <value>0.6666667</value>
      </setting>
      <setting name="DEFCH1EQ4band56" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band57" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band58" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band59" serializeAs="String">
        <value>0.3333333</value>
      </setting>
      <setting name="DEFCH1EQ4band60" serializeAs="String">
        <value>0.3545569</value>
      </setting>
      <setting name="DEFCH1EQ4band61" serializeAs="String">
        <value>0.5252185</value>
      </setting>
      <setting name="DEFCH1EQ4band62" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band63" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band64" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4band65" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4band66" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band67" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4band68" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="DEFCH1EQ4band69" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="DEFCH1EQ4band70" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1DeEsser0" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1DeEsser1" serializeAs="String">
        <value>0.2288729</value>
      </setting>
      <setting name="DEFCH1DeEsser2" serializeAs="String">
        <value>0.3162278</value>
      </setting>
      <setting name="DEFCH1DeEsser3" serializeAs="String">
        <value>0.4728708</value>
      </setting>
      <setting name="DEFCH1DeEsser4" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="DEFCH1DeEsser5" serializeAs="String">
        <value>0.1713131</value>
      </setting>
      <setting name="DEFCH1DeEsser6" serializeAs="String">
        <value>0.3978892</value>
      </setting>
      <setting name="DEFCH1DeEsser7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1DeEsser8" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DEFCH1DeEsser9" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1DeEsser10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1DeEsser11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1DeEsser12" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1DeEsser13" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1DeEsser14" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1DeEsser15" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1DeEsser16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1DeEsser17" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone0" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone2" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone3" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone4" serializeAs="String">
        <value>0.278</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone8" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone9" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone10" serializeAs="String">
        <value>0.4466759</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone11" serializeAs="String">
        <value>0.5252185</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone14" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone15" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone16" serializeAs="String">
        <value>0.361</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone17" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone18" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone19" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone20" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone21" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone22" serializeAs="String">
        <value>0.3751354</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone23" serializeAs="String">
        <value>0.5067465</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone24" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone26" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone27" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone28" serializeAs="String">
        <value>0.63883</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone29" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone30" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone31" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone32" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone33" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone34" serializeAs="String">
        <value>0.3146504</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone35" serializeAs="String">
        <value>0.4860965</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone36" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone37" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone38" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone39" serializeAs="String">
        <value>0.563</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone40" serializeAs="String">
        <value>0.7712674</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone41" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone42" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone43" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone44" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone45" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone46" serializeAs="String">
        <value>0.2971976</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone47" serializeAs="String">
        <value>0.1460275</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone48" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone49" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone50" serializeAs="String">
        <value>0.4586</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone51" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone52" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone53" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone54" serializeAs="String">
        <value>0.7812674</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone55" serializeAs="String">
        <value>0.6666667</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone56" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone57" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone58" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone59" serializeAs="String">
        <value>0.3333333</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone60" serializeAs="String">
        <value>0.3545569</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone61" serializeAs="String">
        <value>0.5252185</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone62" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone63" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone64" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone65" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone66" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone67" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone68" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone69" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="DEFCH1EQ4bandPhone70" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQPreamp" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="DEFAudioEQPreset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAudioEQBand9" serializeAs="String">
        <value>0</value>
      </setting>
    </bossdoyKaraoke_NOW.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.D3DCompiler" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>